body {
    background-image: url(/Content/GettyImages-731851839-5b0476d704d1cf003aabbad6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
}

.modify {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px grey;
    text-align: center;
}

.delete {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px grey;
    text-align: center;
}

.ing_list {
    display: inline-block;
}

.row-mealPlan {
    background-color: white;
    text-align: left;
    /*width: 50%;*/
    min-width: 300px;
    width: 80%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px grey;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.days {
    vertical-align: top;
    width: 125px;
    text-align: center;
}

.days2 {
    vertical-align: top;
    width: 115px;
    text-align: center;
    padding-bottom: 1%;
}

.table {
    vertical-align: middle;
}

.mealPlanBtn {
    margin-right: 10px;
}

.table:nth-child(odd) {
    background-color: #f2f2f2
}

.drop {
    width: 115px;
}