body {
    background-image: url();
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
}

.modify {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px grey;
    text-align: center;
}
.delete {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px grey;
    text-align: center;
}

.ing_list {
    display: inline-block;
}

.row-recipe {
    background-color: white;
    text-align: center;
    /*width: 50%;*/
    min-width: 300px;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px grey;
}

.days {
    vertical-align: top;
    padding: 5px;
}

.table {
    vertical-align: middle;
}

.mealPlanBtn{
    margin-right: 10px;
}